include-toplevel: "/etc/unbound/unbound.conf.d/*.conf"

server:
    # If no logfile is specified, syslog is used
    #logfile: "/var/log/unbound/unbound.log"
    verbosity: ${VERBOSITY}

    interface: ${LISTEN_IPV4}
    interface: ${LISTEN_IPV6}
    port: ${LISTEN_PORT}


    do-ip4: ${DISABLE_IPV4}
    do-udp: yes
    do-tcp: yes

    do-ip6: ${ENABLE_IPV6}
    prefer-ip6: ${ENABLE_IPV6}

    prefetch: yes

    harden-glue: yes
    harden-dnssec-stripped: yes
    use-caps-for-id: no
    edns-buffer-size: 1232

    num-threads: 1

    # Ensure kernel buffer is large enough to not lose messages in traffic spikes
    #so-rcvbuf: ${SO_RCVBUF}

    #so-reuseport: yes

    private-address: 192.168.0.0/16
    private-address: 169.254.0.0/16
    private-address: 172.16.0.0/12
    private-address: 10.0.0.0/8
    private-address: fd00::/8
    private-address: fe80::/10
